name: Mark Production Deployment

on:
  push:
    branches: [main]

jobs:
  mark-deployment:
    runs-on: ubuntu-latest
    environment:
      name: Production
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Mark as Deployed
        run: echo "Production deployment simulated"
